<table class="table table-striped"> 
<% users.each do |user| %>
<tr>
	<td><%= link_to(image_tag(user.image_url, class: "img-thumbnail", height: "64", width: "64"), action: "show", controller: "users", id: user.id)  %>
	<br>
	<%= user.name %> 
	<br> 
	<div class="btn btn-default"><%= link_to("Follow!", action: "new", controller: "follower_connections", id: user.id) %></div>
	</td>

	<td>
	<ul>
	<li>Tweets: <%= user.tweets.count %></li>
	<li>Followers: <%= user.followers.count %></li>
	<li>Followees: <%= user.followees.count %></li>
	</ul>
	</td>
</tr>
<% end %>
</table>