<%= render partial: "navbar/navbar" %>
<div class="container">
<% if notice %>
<div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>
<h1>Welcome, <%= @user.name %>!</h1>
<%= form_tag("/tweets", method: "post") do %>
	<%= label_tag(:tweet_text, "Tweet Something:") %>
	<%= text_field_tag(:tweet_text) %>
	<%= submit_tag("Tweet It!") %>
<% end %>
<h1>Tweets You Follow</h1>
<%= render partial: "tweets/tweet_display", locals: {tweets: @followed_tweets} %>
</div>