<%= form_for(@follower_connection) do |f| %>
  <% if @follower_connection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@follower_connection.errors.count, "error") %> prohibited this follower_connection from being saved:</h2>

      <ul>
      <% @follower_connection.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :follower_id %><br>
    <%= f.number_field :follower_id %>
  </div>
  <div class="field">
    <%= f.label :followee_id %><br>
    <%= f.number_field :followee_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
