<h1>Login</h1>
<div>
<%= form_tag("/login", method: "post") do %>
	<%= label_tag(:name, "Name:") %>
	<%= text_field_tag(:name) %>
	<%= label_tag(:pass, "Password:") %>
	<%= text_field_tag(:pass) %>
	<%= submit_tag("Login") %>
<% end %>
</div>
<h1>Recent Tweets</h1>
<table class="table table-striped"> 
<% @tweets.each do |tweet| %>
<tr>
	<td><%= link_to(image_tag(tweet.poster.image_url, class: "img-thumbnail", height: "64", width: "64"), action: "show", controller: "users", id: tweet.poster.id)  %></td>
	<td><%= link_to(tweet.poster.name, action: "show", controller: "users", id: tweet.poster.id)  %> sez: "<%= tweet.body %>" at <%= tweet.created_at.strftime("%Y-%m-%d") %> </td>
</tr>
<% end %>
</table>
