<h1>Login</h1>
<div>
<%= form_tag("/login", method: "post") do %>
	<%= label_tag(:name, "Name:") %>
	<%= text_field_tag(:name) %>
	<%= label_tag(:pass, "Password:") %>
	<%= text_field_tag(:pass) %>
	<%= submit_tag("Login") %>
<% end %>
</div>
<h1>Recent Tweets</h1>
<%= render partial: "tweets/tweet_display", locals: {tweets: @tweets} %>

